body { font-family:Arial, Helvetica, sans-serif; font-size:12px; padding:0; margin:20px 0 0; background:url(../images/body_bg.gif) left top repeat;}
ul{ margin:0; padding:0;}
h1, h2, h3, h4, h5, h6 { padding:0px; margin:0px; }
a{ text-decoration:none; color:#e77616; outline:none;}
a:hover{color:#000;}

.header{ padding:0 0 8px;}
.header img{ border-bottom:1px solid #fff;}
.main_wrapper{ background:url(../images/bodytop_bg.png) left 141px repeat-x;}

.top_nav { padding:12px 20px; background:url(../images/topnav_shadow.png) left top repeat-x #e87816; border-radius:0 0 8px 8px; -webkit-border-radius:0 0 8px 8px; -moz-border-radius:0 0 8px 8px;}
.top_nav a { font-size:11px; display:inline-block; text-decoration:none; color:#FFFFFF; margin:0 15px; font-weight:bold; text-transform:uppercase; padding:3px 0;  text-shadow:#333 1px 1px 1px; }
.top_nav a:hover { color:#000000;  text-shadow:#fff 1px 1px 1px;}

.header_banner{ padding:0 0 25px;}

.content_body { padding:20px 0; }


.search_box{ border:1px solid #f1cf57; border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px; padding:10px; background:url(../images/topnav_shadow.png) left top repeat-x #ffd4ae;}
.quick_search_title { color:#353e4d; font-size:18px; font-weight:none; text-align:left; border-bottom:2px solid #ccc; background:url(../images/icon_search.png) left center no-repeat; padding:5px 0 8px 35px; }
.quick_search_txt { font-size:12px; color:#333333; text-align:left; font-weight:bold; }
.quick_search_area { font-size:12px; color:#333333; text-align:left; border:#d8d7c5 1px solid; background:#fff; width:145px; height:22px; }
.quick_search_link { color:#0090ff; font-size:12px; text-align:left; }
.quick_search_link a:link, .quick_search_link a:visited { color:#e77616; text-decoration:underline; }
.quick_search_link a:hover { color:#000; text-decoration:underline; }

.login_box{ border:1px solid #e9e9e9; border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px; padding:10px; background:url(../images/topnav_shadow.png) left top repeat-x #e9e9e9;}
.login_box_title { color:#353e4d; font-size:18px; font-weight:none; text-align:left; border-bottom:2px solid #ccc; background:url(../images/icon_login.png) left center no-repeat; padding:5px 0 8px 30px; }
.login_link{ padding:8px 0;}


.txtbox1{ width:160px; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; border:1px solid #ccc; padding:3px;}

.inner_content{ border:1px solid #e9e9e9; border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px; padding:5px 15px; background:url(../images/topnav_shadow.png) left top repeat-x #f8f8f8;}


.aboutus_bg{ padding:0; color:#333; font-size:14px;}
.aboutus_bg .title{ font-size:28px; color:#333; border-bottom:1px solid #e0e0e0; padding:0 0 10px; font-weight:bold;}
.aboutus_bg .title span{ color:#016b97;}
.aboutus_bg .content{ text-align:justify; font-size:14px; line-height:1.4;}
.aboutus_bg p{ padding:10px 0 0; margin:0; text-align:justify;}
.aboutus_bg strong{ color:#016b97;}
.aboutus_bg b{ font-size:15px; color:#333333;}
.aboutus_bg ul{ margin-left:20px;}
.aboutus_bg ul li{ list-style:none; padding:4px 0 4px 23px; color:#333; background:url(../images/bullet2.png) left 6px no-repeat;}
.aboutus_bg ul li li{ list-style:circle; background-image:none; padding:2px 0 2px 2px; color:#666666;}
.aboutus_bg h2{ padding:10px 0 8px 0; color:#333; font-weight:normal; font-size:18px; margin:0 0 10px;}
.aboutus_bg h1{ color:#333; margin:0; padding:10px 0 30px; font-size:18px; background:url(../images/line1.png) left bottom no-repeat;}
.aboutus_bg h4{ padding:10px 0 3px 0; color:#000; font-weight:bold; font-size:16px; margin:0 0 5px;}
.aboutus_bg h3{ padding:10px 0 8px 0; color:#333; font-weight:bold; font-size:18px; margin:0 0 10px;}
.aboutus_bg span{ color:#FF0000;}
.aboutus_bg .author{ font-size:18px;}
.aboutus_bg .news a{ font-weight:bold; font-size:15px;}
.aboutus_bg .news .date{ border-bottom:1px dotted #eee; border-top:1px  dotted #eee; padding:3px 0; font-size:12px; color:#999999; margin:5px 0;}
.aboutus_bg .news .bdr{ border-bottom:1px solid #eee; padding-bottom:10px;}

.inner_wrapper{ background:url(../images/footer_bg.png) left bottom repeat-x;}
.footer{ color:#fff; padding:35px 20px 22px; text-shadow:#333 1px 1px 1px;}

.title1{ font-size:18px; font-weight:bold; color:#333; padding:10px 0 30px; background:url(../images/line1.png) left bottom no-repeat;}

/* ------------------------------------- REGISTRATION PAGE STYLES START HERE ---------------------------------------------------*/
.regis_box { background:#fafafa; border:#dbdbdb 1px solid; padding:10px; margin:20px auto; }
.regis_topbox { border-bottom:#ececec 1px solid; padding:10px; }
.regis_topbox .list { line-height:25px; text-align:left; }
.regis_topbox .list span { color:#075cac; font-weight:bold; }
.regis_topbox1 { border-bottom:#ececec 1px solid; background:#fff; padding:10px; }
.regis_hello { font-size:18px; color:#379595; padding-bottom:10px; }
.regis_welcome { font-size:12px; color:#0e85a7; font-weight:bold; }
.regis_txt { font-size:11px; color:#848484; line-height:18px; }
.regis_moral { font-size:24px; color:#5aa905; padding:20px 0 5px 0; }
.regis_form_title { font-size:13px; color:#bb4803; padding:5px 0 10px 0; font-weight:bold; }
.regis_form_txt { font-size:12px; color:#333333; }
.regis_form_txt td { padding:8px 0; }
.regis_form_txt a:link, .regis_form_txt a:visited { color:#0099FF; text-decoration:none; }
.regis_form_txt a:hover { color:#333; text-decoration:underline; }
.regis_form_txt span { font-size:12px; color:#333; line-height:18px; }
.regis_form_txtarea { width:300px; font-size:12px; }
.regis_form_txtarea1 { width:80px; }
.regis_form_txtarea2 { width:150px; }
.regis_form_txtarea3 { width:500px; }
.regis_form_txtarea4 { width:200px; }
.regis_form_button { background:url(../images/button.jpg) no-repeat; width:85px; height:26px; font-size:11px; color:#fff; line-height:26px; border:0px; margin:0px; padding:0px; text-transform:uppercase; }
/* ------------------------------------- REGISTRATION PAGE STYLES END HERE ---------------------------------------------------*/


.maid_box { width:138px; height:191px; border:#dadada 1px solid; background:#fff; padding:12px 6px; text-align:center; margin:auto; text-decoration:none; }
a.maid_box_link:link div, a.maid_box_link:visited div { border:#dadada 1px solid; background:#fff; text-decoration:none; }
a.maid_box_link:hover div { border:#dadada 1px solid; background:#efefef; text-decoration:none; }
.maid_box img { border:#b8b8b8 1px solid; margin-bottom:5px; }
.maid_box h1 { color:#d04f02; font-size:13px; }
.maid_box h2 { color:#9f9f9f; font-size:11px; }
.maid_box h3 { color:#0c7db8; font-size:12px; padding-top:3px; }
.maid_box1 { width:138px; height:235px; border:#dadada 1px solid; background:#fff; padding:5px 6px; text-align:center; margin:auto; }
.maid_box1 img { border:#b8b8b8 1px solid; margin-bottom:5px; }
.maid_box1 h1 { color:#d04f02; font-size:13px; }
.maid_box1 h2 { color:#9f9f9f; font-size:11px; }
.maid_box1 h3 { color:#0c7db8; font-size:12px; padding-top:3px; }
.maid_box1 .red { background:#e86415; width:100%; padding:3px 0; margin:0 0 5px 0; font-size:11px; color:#fff; text-transform:uppercase; font-weight:bold; display:block; text-decoration:none; }
.maid_box1 .blue { background:#2080ed; width:100%; padding:3px 0; margin:0 0 5px 0; font-size:11px; color:#fff; text-transform:uppercase; font-weight:bold; display:block; text-decoration:none; }
.maid_box1 .green { background:#0a9106; width:100%; padding:3px 0; margin:0 0 5px 0; font-size:11px; color:#fff; text-transform:uppercase; font-weight:bold; display:block; text-decoration:none; }
.maid_box1 .none { background:none; width:100%; padding:3px 0; margin:0 0 5px 0; font-size:11px; color:#fff; text-transform:uppercase; font-weight:bold; display:block; text-decoration:none; }
.maid_box1 .star img { border:none; }

/*CSS Style Pagination*/
	div.pagination { padding: 3px; margin: 3px; text-align:center; float:right; font-size:12px; }
div.pagination a { border: 1px solid #000; margin-right:3px; padding:2px 6px; background:#0093dd; background-position:bottom; text-decoration: none; color:#fff; }
div.pagination a:hover, div.meneame a:active { border: 1px solid #000; background-image:none; background-color:#CCCCCC; color: #000; }
div.pagination span.current { margin-right:3px; padding:2px 6px; font-weight: bold; color: #000; }
div.pagination span.disabled { margin-right:3px; padding:2px 6px; color: #adaaad; }
/*End Style Pagination*/

..faq{font-size:14px; color:#333333; line-height:20px; text-align:justify;}
.faq a:link, .faq a:visited{text-decoration:underline;}
.faq h5{font-size:15px; color:#333333; font-weight:bold; padding:0 0 5px; margin:0px;}

.row_bdr1{ border-bottom:1px dotted #ccc; padding:5px 0;}


/*--------------Details page Styles-----------------*/
.detail_div { background:#f4f4f4; border:#e2e1e1 1px solid; padding:10px; }
.detail_img a:link img, .detail_img a:visited img { padding:3px; border:#CCCCCC 1px solid; margin:0px; text-decoration:none; background:#fff; }
.detail_img a:hover img { padding:3px; border:#dfdfdf 1px solid; margin:0px; background:#fcfcfc; text-decoration:none; }
.detail_img1 { background:#FFFFFF; border:#ccc 1px solid; }
.detail_thumb_bg { background:url(../images/detail_thbg.jpg) repeat-x; padding:0px 3px; }
.detail_title { font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; color:#333; font-weight:bold; line-height:18px; font-size:13px; padding-bottom:5px; border-bottom:#999999 1px dotted; }
.detail_title1 { font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; color:#333; font-weight:bold; line-height:18px; font-size:13px; padding-bottom:5px; }
.detail_title_sub { font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#999999; }
.detail_price { font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; color:#0e89d8; font-weight:bold; font-size:16px; }
.detail_price1 { font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; color:#cc6600; font-weight:bold; line-height:20px; font-size:15px; padding-top:10px; }
.detail_price1 a:link, .detail_price1 a:visited { font-size:12px; text-decoration:underline; color:#fe6500; font-family:Arial, Helvetica, sans-serif; font-weight:normal; }
.detail_price1 a:hover { text-decoration:underline; color:#000; }
.detail_sendbutton { background:url(../images/send_to_friend.jpg) no-repeat; color:#FFF; font-size:11px; width:122px; height:26px; border:0px; }
.detail_table { border:#e7e6e6 1px solid; font-size:12px; color:#333; line-height:25px; }
.detail_table td { padding:2px 0 2px 10px; }
.detail_link a:link, .detail_link a:visited { color:#fe6500; text-decoration:underline; }
.detail_link a:hover { color:#333; text-decoration:underline; }
.detail_row_bg { background:#f5f5f5; border-top:#e7e6e6 1px solid; border-bottom:#e7e6e6 1px solid; }
.detail_row a:link, .detail_row a:visited { color:#fe6500; text-decoration:underline; }
.detail_row a:hover { color:#000; text-decoration:underline; }
.detail_row_bg1 { background:#fff; border-top:#e7e6e6 1px solid; border-bottom:#e7e6e6 1px solid; }
.detail_line { border-bottom:#e0dfdf 1px dotted; letter-spacing:normal; }
.detail_txt { font-size:12px; color:#585858; line-height:22px; text-align:justify; }
.detail_txt h1 { color:#075cac; font-size:12px; font-weight:bold; }
.detail_txt ul { padding:0px; margin:0px 0 0 10px; list-style:none; font-size:12px; font-weight:bold; color:#CC0000; }
.detail_txt li { background:url(../images/bullet1.gif) no-repeat left 7px; padding-left:15px; color:#333333; line-height:25px; font-weight:normal; }
.detail_des_txt { font-size:11px; color:#666666; line-height:18px; padding-left:15px; text-align:left; }
.detail_des_txt span { font-size:12px; color:#11a0b5; line-height:18px; font-weight:bold; line-height:20px; }
.detail_des_txt h1 { font-size:11px; color:#cc6600; font-weight:bold; line-height:20px; padding:10px 0; }
.detail_feedback { background:url(../images/feedback_icon.jpg) no-repeat left; padding-left:10px; color:#666; font-size:11px; }
.detail_view { color:#666; font-size:11px; }
.detail_fav { background:url(../images/fav_icon.jpg) no-repeat left; padding-left:20px; color:#fe6500; font-size:11px; }
.detail_fav a:link, .detail_fav a:visited { color:#fe6500; text-decoration:none; }
.detail_fav a:hover { color:#666; text-decoration:none; }
.detail_calc { padding-left:20px; color:#fe6500; font-size:11px; }
.detail_calc a:link, .detail_calc a:visited { color:#fe6500; text-decoration:none; }
.detail_calc a:hover { color:#666; text-decoration:none; }
.detail_mail { background:url(../images/mail.gif) no-repeat left; padding-left:20px; color:#fe6500; font-size:11px; text-align:left; }
.detail_mail a:link, .detail_mail a:visited { color:#fe6500; text-decoration:none; }
.detail_mail a:hover { color:#666; text-decoration:none; }
.detail_button { font-size:12px; color:#FFFFFF; }
.detail_button a:link, .detail_button a:visited { color:#FFFFFF; background:url(../images/button_2.jpg) no-repeat center; width:106px; height:27px; line-height:27px; text-decoration:none; display:inline-block; text-align:center; margin:0 0px 0 4px; }
.detail_button a:hover { color:#FFFFFF; background:url(../images/button_2_hover.jpg) no-repeat center; width:106px; height:27px; line-height:27px; text-decoration:none; }

/* New css for maid listings*/
.table_title{ background-color:#333333; color:#FFFFFF; font-size:12px; text-transform:uppercase; padding:5px 10px; border-left:1px solid #CCCCCC;}
.list_row1 td{ background-color:#fff; padding:4px 10px; border-left:1px solid #fff;}
.list_row2 td{ background-color:#f1f1f1; padding:4px 10px;border-left:1px solid #fff;}
.list_row1:hover td, .list_row2:hover td{ background-color:#bcd35c;}

.search_btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  font-family: Arial;
  color: #ffffff;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.search_btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.banner_botttom img {
	margin:10px 0px;
	width: 100%;
	height: 100%;
}

/***Login***/
/* Login Container (default to float:right) */
#loginContainer {
    position:relative;
    float:right;
    font-size:12px;
}

/* Login Button */
#loginButton {
    display:inline-block;
    float:right;
    background:#3498db;
    border:1px solid #fff;
    border-radius:3px;
    -moz-border-radius:3px;
    position:relative;
    z-index:30;
    cursor:pointer;
		margin: -2px 0px 0px 0px;
}
#loginButton span {
	padding: 3px 15px;
	display: block;
}

/* Login Box */
#loginBox {
    position:absolute;
    top:34px;
    right:0;
    display:none;
    z-index:29;
}

/* Login Form */
#loginForm {
    width:248px;
    border:1px solid #899caa;
    border-radius:3px 0 3px 3px;
    -moz-border-radius:3px 0 3px 3px;
    margin-top:-1px;
    background:#d2e0ea;
    padding:6px;
}

#loginForm fieldset {
    margin:0 0 12px 0;
    display:block;
    border:0;
    padding:0;
}

fieldset#body {
    background:#fff;
    border-radius:3px;
    -moz-border-radius:3px;
    padding:10px 13px;
    margin:0;
}

#loginForm #checkbox {
    width:auto;
    margin:1px 9px 0 0;
    float:left;
    padding:0;
    border:0;
    *margin:-3px 9px 0 0; /* IE7 Fix */
}

#body label {
    color:#3a454d;
    margin:9px 0 0 0;
    display:block;
    float:left;
}

#loginForm #body fieldset label {
    display:block;
    float:none;
    margin:0 0 6px 0;
}

/* Default Input */
#loginForm input {
    width:92%;
    border:1px solid #899caa;
    border-radius:3px;
    -moz-border-radius:3px;
    color:#3a454d;
    font-weight:bold;
    padding:8px 8px;
    box-shadow:inset 0px 1px 3px #bbb;
    -webkit-box-shadow:inset 0px 1px 3px #bbb;
    -moz-box-shadow:inset 0px 1px 3px #bbb;
    font-size:12px;
}

/* Sign In Button */
#loginForm #login {
    width:auto;
    float:left;
    background:#339cdf url(../images/loginbuttonbg.png) repeat-x;
    color:#fff;
    padding:7px 10px 8px 10px;
    text-shadow:0px -1px #278db8;
    border:1px solid #339cdf;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    margin:0 12px 0 0;
    cursor:pointer;
    *padding:7px 2px 8px 2px; /* IE7 Fix */
}

/* Forgot your password */
#loginForm span {
    text-align:center;
    display:block;
    padding:7px 0 4px 0;
}

#loginForm span a {
    color:#3a454d;
    text-shadow:1px 1px #fff;
    font-size:12px;
}

input:focus {
    outline:none;
}

.login_error {
	border: 1px solid red !important;
}
