<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>:: Axix Solutions Pte Ltd || Singapore :: Maid Agency</title>
<link href="{{static}}/media/css/download.css" rel="stylesheet" type="text/css" />
<style type="text/css">
  @page {
        size: a4 portrait;
        @frame header_frame {           /* Static Frame */
            -pdf-frame-content: header_content;
            left: 50pt; width: 512pt; top: 50pt; height: 40pt;
        }
        @frame content_frame {          /* Content Frame */
            left: 50pt; width: 512pt; top: 90pt; height: 632pt;
        }
        @frame footer_frame {           /* Another static Frame */
            -pdf-frame-content: footer_content;
            left: 50pt; width: 512pt; top: 772pt; height: 20pt;
        }
    }
</style>
</head>
<body>
  <!-- Content for Static Frame 'header_frame' -->
 <div id="header_content">
   <h1>Maid Details - {{maids.name}}</h1>
 </div>

 <!-- Content for Static Frame 'footer_frame' -->
 <div id="footer_content">(c) - page <pdf:pagenumber>
     of <pdf:pagecount>
 </div>

 <center>
<div class="book">
    <div class="page">
						<h1>Maid Details - {{maids.name}}</h1>
            <div class="header">
          		<h1>BIO-DATA OF FOREIGN DOMESTIC WORKER (FDW)</h1>
          		<span>*Please ensure that you run through the information within the biodata as it is an important document to help you select a suitable FDW</span>
          	</div>

          	<div class="section">
          		<h3>(A) <u>PROFILE OF FDW</u></h3>
          		<h5>A1 <span>Personal Information</span></h5>

          		<div class="personal_info">
          			<div class="left">
          				<ol>
          					<li>1. Name: <u>LOREVIC UY GAMUTAN LOREVIC UY GAMUTAN LOREVIC UY GAMUTAN </u></li>
          					<li>
          						2. Date of birth:
          						<div class="dob">
          							<span>3</span>
          							<span>0</span>
          							<span>1</span>
          							<span>2</span>
          							<span>8</span>
          							<span>7</span>
          							Age:
          							<span>7</span>
          							<span>8</span>
          						</div><!--dob-->
          					</li>
          					<li>3. Place of birth: <u>India</u></li>
          					<li>4. Height & weight:
          						<div class="dob">
          							<span>7</span>
          							<span>8</span>
          							<span>7</span>
          							cm
          							<span>7</span>
          							<span>7</span>
          							kg
          						</div>
          					</li>
          					<li>5. Nationality: <u>Indian</u></li>
          					<li>6. Residential address in home country:
          						<u>testing alksdjf aslkfj as;lk fjalksfj aslkfj slkafd dsafkjsdlfkjsad flkasj flkasj df</u>
          					</li>
          					<li>
          						7. Name of port / airport to be repatriated to:
          						<u>adsaf asdf sd</u>
          					</li>
          					<li>
          						8. Contact number in home country:
          						<u>asdfasdf asdf sadf sdafsadf</u>
          					</li>
          					<li>
          						9. Religion:
          						<u>Hindu</u>
          					</li>
          					<li>
          						10. Education level:
          						<u>B.A</u>
          					</li>
          					<li>
          						11. Number of siblings: <u>sadfs</u>
          					</li>
          					<li>
          						12. Marital status: <u>sadfdf</u>
          					</li>
          					<li>
          						13. Number of children: <u>sadasdsa</u>
          					<li>
          					<li>
          						- Age(s) of children (if any): <u>sadas asddsa</u>
          					<li>
          				</ol>
          			</div><!--left-->
          			<div class="right">
          				<div class="photo">
          					<img src=""/>
          				</div>
          			</div><!--right-->
          			<div class="clear_both"></div>
          		</div><!--personal_info-->
          	</div><!--section-->

          	<div class="section">
          		<h5>A2 <span>Medical History/Dietary Restrictions</span></h5>
          		<ol>
          			<li>
          				14. Allergies (if any): <u>sadas asddsa</u>
          			</li>
          			<li>
          				15. Past and existing illnesses (including chronic ailments and illnesses requiring medication):
          				<div class="grid_points">
          					<ul>
          						<li>
          						i. Mental illness
          							<input type="checkbox" value="" class="yes"/>
          							<input type="checkbox" value="" class="no"/>
          						</li>
          						<li>ii. Epilepsy
          							<input type="checkbox" value="" class="yes"/>
          							<input type="checkbox" value="" class="no"/>
          						</li>
          						<li>iii. Asthma
          							<input type="checkbox" value="" class="yes"/>
          							<input type="checkbox" value="" class="no"/>
          						</li>
          						<li>iv. Diabetes
          							<input type="checkbox" value="" class="yes"/>
          							<input type="checkbox" value="" class="no"/>
          						</li>
          						<li>v. Hypertension
          							<input type="checkbox" value="" class="yes"/>
          							<input type="checkbox" value="" class="no"/>
          						</li>
          					</ul>
          					<ul>
          						<li>vi. Tuberculosis
          							<input type="checkbox" value="" class="yes"/>
          							<input type="checkbox" value="" class="no"/>
          						</li>
          						<li>vii. Heart disease
          							<input type="checkbox" value="" class="yes"/>
          							<input type="checkbox" value="" class="no"/>
          						</li>
          						<li> viii. Malaria
          							<input type="checkbox" value="" class="yes"/>
          							<input type="checkbox" value="" class="no"/>
          						</li>
          						<li>ix. Operations
          							<input type="checkbox" value="" class="yes"/>
          							<input type="checkbox" value="" class="no"/>
          						</li>
          						<li> x. Others: <u>sdfd</u>
          						</li>
          					</ul>
          				</div><!--grid_points-->
          				<div class="clear_both"></div>
          			</li>
          			<li>
          				16. Physical disabilities:<u>sdfsdf</u>
          			</li>
          			<li>
          				17. Dietary restrictions: <u>sfdsdf</u>
          			</li>
          			<li class="food">
          				<div style="float: left;">18. Food handling preferences:</div>
          				<ul>
          					<li><input type="checkbox" value=""/> No pork</li>
          					<li><input type="checkbox" value=""/> No beef</li>
          					<li><input type="checkbox" value=""/> Others: <u>sdlfksdf</u></li>
          				</ul>
          			</li>
          		</ol>
          		<div class="clear_both"></div>
          		</div><!--personal_info-->
          	</div><!--section-->

          	<div class="section">
          		<h5>A3 <span>Others</span></h5>

          		<div class="personal_info">
          				<ol>
          					<li>19. Preference for rest day: <u>4</u>rest day(s) per month. </li>
          					<li>20. Any other remarks: <u>asdf asdfsadf ads f</u></li>
          				</ol>
          		</div>
          	</div>

          	<div class="section">
          		<h3>(B) SKILLS OF FDW</h3>
          		<h5>B1  <span>Method of Evaluation of Skills</span></h5>

          		<div class="">
          				<ol>
          					<li>Please indicate the method(s) used to evaluate the FDW’s skills (can tick more than one):</li>
          					<li>
          						<input type="checkbox" value=""/> No pork Based on FDW’s declaration, no evaluation/observation by Singapore EA or overseas training centre/EA
          					</li>
          					<li>
          						<input type="checkbox" value=""/> Interviewed by Singapore EA
          						<ul class="interview">
          							<li>
          								<input type="checkbox" value=""/> Interviewed via telephone/teleconference
          							</li>
          							<li>
          								<input type="checkbox" value=""/> Interviewed via videoconference
          							</li>
          							<li>
          								<input type="checkbox" value=""/> Interviewed in person
          							</li>
          							<li>
          								<input type="checkbox" value=""/> Interviewed in person and also made observation of FDW in the areas of work listed in table
          							</li>
          						</ul>
          					</li>
          					<li>
          						<table width="97%" style="margin-left: 10px;" border="1" class="table">
          							<thead>
          								<tr>
          									<th style="width: 40px;"><b>S/No</b></th>
          									<th style="width: 150px;"><b>Areas of Work</b></th>
          									<th style="width: 80px;"><b>Willingness</b><br>Yes/No</th>
          									<th style="width: 80px;"><b>Experience</b><br>Yes/No If yes, state the no. of years</th>
          									<th style="width: 200px;"><b>Assessment/Observation</b><br>
          										Please state qualitative observations of FDW and/or rate the
          										FDW (indicate N.A. of no evaluation was done)<br>
          										Poor.............Excellent............N.A<br>
          										1 2 3 4 5 N.A</th>
          								</tr>
          							</thead>
          							<tbody>
          								<tr>
          									<td>1</td>
          									<td>Care of infants/children<br>
          										Please specify age range:<br>
          										<u>sajdkfh asdkjfhsaf</u>
          									</td>
          									<td></td>
          									<td></td>
          									<td></td>
          								</tr>
          								<tr>
          									<td>2</td>
          									<td>Care of elderly
          									</td>
          									<td></td>
          									<td></td>
          									<td></td>
          								</tr>
          								<tr>
          									<td>3</td>
          									<td>Care of disabled
          									</td>
          									<td></td>
          									<td></td>
          									<td></td>
          								</tr>
          								<tr>
          									<td>4</td>
          									<td>General housework<br>
          									</td>
          									<td></td>
          									<td></td>
          									<td></td>
          								</tr>
          								<tr>
          									<td>5</td>
          									<td>Cooking<br>
          										Please specify cuisines:<br>
          										<u>sajdkfh asdkjfhsaf</u>
          									</td>
          									<td></td>
          									<td></td>
          									<td></td>
          								</tr>
          								<tr>
          									<td>6</td>
          									<td>Language abilities (spoken)<br>
          										Please specify:<br>
          										<u>sajdkfh asdkjfhsaf</u>
          									</td>
          									<td></td>
          									<td></td>
          									<td></td>
          								</tr>
          								<tr>
          									<td>7</td>
          									<td>Other skills, if any<br>
          										Please specify:<br>
          										<u>sajdkfh asdkjfhsaf</u>
          									</td>
          									<td></td>
          									<td></td>
          									<td></td>
          								</tr>
          							</tbody>
          						</table>
          					</li>
          				</ol>
          		</div>
          	</div><!--section-->


          	<div class="section">
          		<div class="">
          				<ol>
          					<li>
          						<input type="checkbox" value=""/> Interviewed by overseas training centre / EA (Please state name of foreign training centre / EA: <u>asdf adsfsa df</u> )
          						<br>State if the third party is certified (e.g. ISO9001) or audited periodically by the EA: <u>sadfasfas</u>
          						<ul class="interview">
          							<li>
          								<input type="checkbox" value=""/> Interviewed via telephone/teleconference
          							</li>
          							<li>
          								<input type="checkbox" value=""/> Interviewed via videoconference
          							</li>
          							<li>
          								<input type="checkbox" value=""/> Interviewed in person
          							</li>
          							<li>
          								<input type="checkbox" value=""/> Interviewed in person and also made observation of FDW in the areas of work listed in table
          							</li>
          						</ul>
          					</li>
          					<li>
          						<table width="97%" style="margin-left: 10px;" border="1" class="table">
          							<thead>
          								<tr>
          									<th style="width: 40px;"><b>S/No</b></th>
          									<th style="width: 150px;"><b>Areas of Work</b></th>
          									<th style="width: 80px;"><b>Willingness</b><br>Yes/No</th>
          									<th style="width: 80px;"><b>Experience</b><br>Yes/No If yes, state the no. of years</th>
          									<th style="width: 200px;"><b>Assessment/Observation</b><br>
          										Please state qualitative observations of FDW and/or rate the
          										FDW (indicate N.A. of no evaluation was done)<br>
          										Poor.............Excellent............N.A<br>
          										1 2 3 4 5 N.A</th>
          								</tr>
          							</thead>
          							<tbody>
          								<tr>
          									<td>1</td>
          									<td>Care of infants/children<br>
          										Please specify age range:<br>
          										<u>sajdkfh asdkjfhsaf</u>
          									</td>
          									<td></td>
          									<td></td>
          									<td></td>
          								</tr>
          								<tr>
          									<td>2</td>
          									<td>Care of elderly
          									</td>
          									<td></td>
          									<td></td>
          									<td></td>
          								</tr>
          								<tr>
          									<td>3</td>
          									<td>Care of disabled
          									</td>
          									<td></td>
          									<td></td>
          									<td></td>
          								</tr>
          								<tr>
          									<td>4</td>
          									<td>General housework<br>
          									</td>
          									<td></td>
          									<td></td>
          									<td></td>
          								</tr>
          								<tr>
          									<td>5</td>
          									<td>Cooking<br>
          										Please specify cuisines:<br>
          										<u>sajdkfh asdkjfhsaf</u>
          									</td>
          									<td></td>
          									<td></td>
          									<td></td>
          								</tr>
          								<tr>
          									<td>6</td>
          									<td>Language abilities (spoken)<br>
          										Please specify:<br>
          										<u>sajdkfh asdkjfhsaf</u>
          									</td>
          									<td></td>
          									<td></td>
          									<td></td>
          								</tr>
          								<tr>
          									<td>7</td>
          									<td>Other skills, if any<br>
          										Please specify:<br>
          										<u>sajdkfh asdkjfhsaf</u>
          									</td>
          									<td></td>
          									<td></td>
          									<td></td>
          								</tr>
          							</tbody>
          						</table>
          					</li>
          				</ol>
          		</div>
          	</div><!--section-->

          	<div class="section">
          		<h3>(C) EMPLOYMENT HISTORY OF THE FDW</h3>
          		<h5>C1  <span>Employment History Overseas</span></h5>

          		<div class="">
          			<ol>
          				<li>
          					<table width="97%" style="margin-left: 10px;" border="1" class="table">
          						<thead>
          							<tr>
          								<th colspan="2">Date</th>
          							</tr>
          							<tr>
          								<th style="width: 70px;"><b>From</b></th>
          								<th style="width: 70px;"><b>To</b></th>
          								<th style="width: 100px;"><b>Country (including FDW's home country)</b></th>
          								<th style="width: 80px;"><b>Employer</b></th>
          								<th style="width: 200px;"><b>Work Duties</b></th>
          								<th style="width: 90px;"><b>Remarks</b></th>
          							</tr>
          						</thead>
          						<tbody>
          							<tr>
          								<td></td>
          								<td></td>
          								<td></td>
          								<td></td>
          								<td></td>
          								<td></td>
          							</tr>
          							<tr>
          								<td></td>
          								<td></td>
          								<td>
          								</td>
          								<td></td>
          								<td></td>
          								<td></td>
          							</tr>
          						</tbody>
          					</table>
          				</li>
          			</ol>
          		</div>
          	</div><!--section-->

          	<div class="section">
          		<h5>C2  <span>Employment History in Singapore</span></h5>

          		<div class="">
          			<ol>
          				<li>
          					Previous working experience in Singapore <input type="checkbox" value="" style="margin: 0px 0px 0px 100px;"/>Yes
          					<input type="checkbox" value="" style="margin: 0px 0px 0px 100px;"/>No
          					<p style="line-height: 18px;">(The EA is required to obtain the FDW's employment history from MOM and furnish the employer with the employment history of
          the FDW. The employer may also verify the FDW’s employment history in Singapore through WPOL using SingPass)</p>
          				</li>
          			</ol>
          		</div>
          		<h5>C3  <span>Feedback from previous employers in Singapore</span></h5>
          		<p style="line-height: 18px; font-size: 14px; ">Feedback was/was not obtained by the EA from the previous employers. If feedback was obtained (attach testimonial if possible),
          please indicate the feedback in the table below:</p>

          		<div class="">
          			<ol>
          				<li>
          					<table border="1" class="table" width="97%">
          						<tr>
          							<td style="width: 150px;"></td>
          							<td>Feedback</td>
          						</tr>
          						<tr>
          							<td>Employer 1</td>
          							<td></td>
          						</tr>
          						<tr>
          							<td>Employer 2</td>
          							<td></td>
          						</tr>
          					</table>
          				</li>
          			</ol>
          		</div>
          		<h5>D  <span>AVAILABILITY OF FDW TO BE INTERVIEWED BY PROSPECTIVE EMPLOYER</span></h5>
          		<div class="">
          			<ol>
          				<li>
          					<input type="checkbox" value=""/> FDW is not available for interview
          				</li>
          				<li>
          					<input type="checkbox" value=""/> FDW can be interviewed by phone
          				</li>
          				<li>
          					<input type="checkbox" value=""/> FDW can be interviewed by video-conference
          				</li>
          				<li>
          					<input type="checkbox" value=""/> FDW can be interviewed in person
          				</li>
          			</ol>
          		</div>
          		<h5>E  <span>OTHER REMARKS</span></h5>
          		<u style="display: block; width: 100%;">dkaskdl; fakds; fjlkaf jaskldf jlkadfj akdlsj fklafj ad skafj adslkfj aslkfj aklsfj aslkdf jklaf jadlk</u>

          		<div class="">
          			<ol>
          				<li>
          					<div style="float: left; border-top: 1px solid #000; min-width: 300px; margin: 30px 0px 15px 0px;">
          						<p>FDW Name and Signature</p>
          						<p>Date:</p>
          					</div>
          					<div style="float: right; border-top: 1px solid #000; min-width: 300px; margin: 30px 0px 0px 0px;">
          						<p>EA Personnel Name and Registration Number</p>
          						<p>Date:</p>
          					</div>
          					<div class="clear_both"></div>
          				</li>
          				<li>
          				I have gone through the 4 page biodata of this FDW and confirm that I would like to employ her
          				</li>
          				<li>
          					<div style="float: left; border-top: 1px solid #000; min-width: 300px; margin: 30px 0px 15px 0px;">
          						<p>Employer Name and NRIC No.</p>
          						<p>Date:</p>
          					</div>
          					<div class="clear_both"></div>
          				</li>
          			</ol>
          		</div>
          		<center>***************</center>
          		<h3><u>IMPORTANT NOTES FOR EMPLOYERS WHEN USING THE SERVICES OF AN EA</u></h3>
          		<ul class="endpoints">
          			<li>Do consider asking for an FDW who is able to communicate in a language you require, and interview her (in
          person/phone/videoconference) to ensure that she can communicate adequately.
          			</li>
          			<li>Do consider requesting for an FDW who has a proven ability to perform the chores you require, for example, performing
          household chores (especially if she is required to hang laundry from a high-rise unit), cooking and caring for young children
          or the elderly.</li>
          			<li>Do work together with the EA to ensure that a suitable FDW is matched to you according to your needs and requirements.
          			</li>
          			<li>You may wish to pay special attention to your prospective FDW’s employment history and feedback from the FDW’s
          previous employer(s) before employing her.</li>
          		</ul>
          	</div><!--section-->

    </div>
</div>
</center>
</body>
</html>
